.formulario__span
{
    color : red;
    display: none;
}
.mostra
{
    display: block;
}

.erroSenha
{
    color : red;
    display: none;
}
.mostraSenha
{
    display: block;
}

.erroEmailInvalido
{
    color: red;
    display: none;
}
.mostraErroEmail
{
    display: block;
}

.erroCPFInvalido
{
    color: red;
    display: none; 
}
.mostraErroCPF
{
    display: block;
}